@tailwind base;
@tailwind components;
@tailwind utilities;

/* imports */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700;800;900&family=Rozha+One&display=swap');

/* custom style */
.stroke::before {
    content: " ";
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    background-color: #134e4a;
}
.stroke::after {
    content: " ";
    position: absolute;
    height: 0px;
    width: 0px;
    top: 0;
    left: 50%;
    border-left: 100px solid #134e4a;
    border-bottom: 160px solid transparent;
}